body {
  /* background-image: url("img/bg-chess1.png"); */
  background-image: linear-gradient(
      to top right,
      rgba(255, 255, 255, 0.284),
      #f7f3f353
    ),
    url("../img/bg-chess.png");
  background-size: cover;
  height: 100vh;
  width: auto;
  padding: 0;
  margin: 0;
  /* background: linear-gradient(
    45deg,
    #81f881,
    #f6dede 45%,
    #de94de 65%,
    #f5e3e3 80%
  ); */
}
.text-align-center {
  text-align: center;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.text-align-center {
  text-align: center;
}
#myBoard {
  max-width: 100%;
  height: auto;
}

.highlight-white {
  box-shadow: inset 0 0 3px 3px #666;
  background-color: rgb(171, 199, 129);
}

.highlight-black {
  box-shadow: inset 0 0 3px 3px #666;
  background-color: rgb(129, 109, 221);
}

.highlight-hint {
  box-shadow: inset 0 0 3px 3px red;
}

.no-underline {
  text-decoration: none;
}

.no-outline:focus {
  outline: none;
  box-shadow: none;
}

.btn-header {
  font-size: 20px;
  font-weight: bold;
}
.card {
  background-color: rgb(255, 255, 240);
}
.change {
  color: rgb(56, 56, 56);
  font-weight: 700;
}

.bootifull {
  background-color: rgba(222, 184, 135, 0.284);
}
